PORT=4000
APP_NAME=GeoKipu
FRONTEND_URL=http://localhost:5173

MONGODB_URI=mongodb+srv://alejandroojedaherrera_db_user:i8XQpDCXvy7l43Hs@geokipu-cluster.okeav6r.mongodb.net/geokipu?retryWrites=true&w=majority&appName=geokipu-cluster

SUPABASE_URL=tu_supabase_url
SUPABASE_ANON_KEY=tu_supabase_anon_key
SUPABASE_SERVICE_ROLE_KEY=tu_supabase_service_role_key

GEOAPIFY_API_KEY=tu_geoapify_api_key